<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1> Add a new person </h1>
<div>
	<p th:text="${person}"/>

	<form action="#" th:action="@{/editperson(id=${person.id})}" th:object="${person}" method="POST">
		Full Name: <Input type="text" name="fullName" th:field="*{fullName}"/><br/>
		First Name: <Input type="text" name="firstName" th:field="*{firstName}"/><br/>
		Last Name: <Input type="text" name="lastName" th:field="*{lastName}"/><br/>
		Age: <Input type="text" name="age" th:field="*{age}"/><br/>
		Email: <Input type="text" name="email" th:field="*{email}"/><br/>
		Address: <Input type="text" name="address" th:field="*{address}"/><br/>
		Zipcode: <Input type="text" name="zipCode" th:field="*{zipCode}"/><br/>
		<button name="submit" type="submit" value="0">Submit</button>
		<button nema="reset" type="reset">Reset</button><br />
		<a href="/people">Back People Page</a>
	</form>
</div>
</body>
</html>